@import "foundation/_init";
@import "layout/_init";

h1 {
    background-color: rgb(236 27 27);
    color: $maincolor;
    display: block;
    font-size: 2.3rem;
    font-weight: 100;
    text-align: center;
    width: 100%;

    @include sp {
        font-size: 3.5rem;
    }

    span {
        font-weight: 1rem;

        @include sp {
            display: none;
        }
    }
}

.swiper--wrapper {
    height: 300px;
    width: 100%;
}

.swiper-slide {
    color: #fff;
    height: 100%;
    line-height: 300px;
    text-align: center;
    text-align: center;
    width: 100%;
}

.swiper-slide:nth-child(3n + 1) {
    background-color: #de4439;
}

.swiper-slide:nth-child(3n + 2) {
    background-color: #fcd500;
}

.swiper-slide:nth-child(3n + 3) {
    background-color: #53c638;
}
